@import "tailwindcss";

:root {
  --casablanca: #F5B94A;
  --pirate-gold: #C58102;
  --gallery: #EEEEEE;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background: var(--gallery);
  }
}
